<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
	<!-- 	<typeAlias type="com.spring.client.board.vo.BoardVO" alias="board"/> -->
	<typeAlias type="com.space.memlogin.vo.LoginVO" alias="login"/>
	<typeAlias type="com.space.mem.vo.MemVO" alias="mem"/>
	<typeAlias type="com.space.mem.vo.MemSecurity" alias="security"/>
	<typeAlias type="com.space.comp.vo.CompVO" alias="comp" />
	<typeAlias type="com.space.complogin.vo.CompLoginVO" alias="complogin"/>
	<typeAlias type="com.space.comp.vo.CompSecurity" alias="cpsecurity" />
	<typeAlias type="com.space.space.vo.SpaceVO" alias="space"/>
	<typeAlias type="com.space.space.vo.SpaceVO" alias="common"/>
	<typeAlias type="com.space.admin.vo.AdminVO" alias="admin" />
	<typeAlias type="com.space.admin.vo.AdminLoginVO" alias="adminlogin" />
	<typeAlias type="com.space.admin.vo.NoticeVO" alias="notice" />
	<typeAlias type="com.space.reserv.vo.ReservVO" alias="reserv"/>
	</typeAliases>
</configuration>